aclocal.m4
*autom4te*
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
INSTALL
install-sh
.libs
libtool
*.la
*.lo
ltmain.sh
Makefile
Makefile.in
menu-test
missing
*.o
*.server
workspace-browser
workspace-browser-applet
